* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.main {
  margin: 20px;
}

.label {
  display: block;
  margin: 20px 0 10px;
}

.button {
  margin-top: 10px;
}

.span {
  display: block;
  color: red;
}
